# Compiled binaries
bin/
obj/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.dotnetcore

# VS Code files
.vscode/

# Rider files
.idea/

# NuGet Packages
*.nupkg
*.snupkg
packages/
.nuget/

# Logs
logs/
*.log

# Environment variables & secrets
.env
appsettings.Development.json

# Build output
publish/
out/

# Entity Framework migration history
Migrations/

# Miscellaneous
**/*.DS_Store
**/*.pyc
