.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.top-bar {
    background-color: var(--light-grey);
    padding-top: 1em;
    padding-left: 1em;
}

.content {
    padding: 2em;
    background-color: white;
}
