@page "/"

<PageTitle>Home</PageTitle>

<div class="home-container">
    <div class="home-hero">
        <MudText Typo="Typo.h2">SkillsTracker</MudText>
        <MudText>Track and manage user skills across topics and levels.</MudText>
    </div>
</div>
