<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <TargetFrameworkVersion>net9.0</TargetFrameworkVersion>
    <MaxCpuCount>1</MaxCpuCount>
    <TestTimeout>12000</TestTimeout>
    <CollectSourceInformation>true</CollectSourceInformation>
    <DisableAppDomain>true</DisableAppDomain>
    <EnvironmentVariables>
      <ASPNETCORE_ENVIRONMENT>Development</ASPNETCORE_ENVIRONMENT>
    </EnvironmentVariables>
  </RunConfiguration>
</RunSettings>
