@page "/admin-users"
@inject HttpClient Http
@rendermode InteractiveServer

<h2>Admin: Manage Users</h2>

<div>
    <UserCreation OnFormSubmit="@SaveUser" />
</div>
<hr />
<div>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody class="cell-hover">
            @foreach (var user in users)
            {
                <UserInfo user=@user />
            }
        </tbody>
    </table>
</div>



@code {
    private List<User> users = [];
    private User newUser = new User();
    private User? editingUser;

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetFromJsonAsync<List<User>>("api/users");
        users = response ?? [];
    }

    private async Task SaveUser(User? user)
    {
        if (user != null)
        {
            await Http.PostAsJsonAsync("api/users", user);
            var response = await Http.GetFromJsonAsync<List<User>>("api/users");
            users = response ?? [];
        }
    }

    private void EditUser(User user)
    {
        newUser = new User { Id = user.Id, Name = user.Name };
        editingUser = user;
    }

    private async Task DeleteUser(int userId)
    {
        await Http.DeleteAsync($"api/users/{userId}");
        var response = await Http.GetFromJsonAsync<List<User>>("api/users");
        users = response ?? [];
    }

    private void CancelEdit()
    {
        newUser = new User();
        editingUser = null;
    }
}
