@namespace SkillsTracker.Components.Admin

<tr @onclick="EditUser">
    <td>@User.Id</td>
    <td>@User.Name</td>
    <td>@User.Email</td>
</tr>

@code {
    [Parameter]
    public required User User { get; set; }

    [Parameter]
    public EventCallback<User> OnEditUser { get; set; }

    private void EditUser()
    {
        OnEditUser.InvokeAsync(User);
    }
}
