@using Microsoft.AspNetCore.Components.Forms
@namespace SkillsTracker.Components.Admin

<EditForm Model="User" OnSubmit="AddUser" FormName="user-creation-form">
    <div class="form-header">
        New User
    </div>
    <div class="form-body">
        <div class="form-element">
            <label for="name">Name</label>
            <InputText id="name" @bind-Value="User!.Name" />
        </div>
        <div class="form-element">
            <label for="email">Email</label>
            <InputText id="email" @bind-Value="User!.Email" />
        </div>
        <div class="form-footer">
            <button type="submit">CREATE</button>
        </div>
    </div>
</EditForm>

@code {
    [SupplyParameterFromForm]
    private User? User { get; set; }

    [Parameter]
    public EventCallback<User> OnFormSubmit { get; set; }

    protected override void OnInitialized() => User ??= new();
    private void AddUser()
    {
        OnFormSubmit.InvokeAsync(User);
        User = new();
    }
}
