<EditForm Model=@User OnSubmit=@EditUser onreset="@OnFormCancel" FormName="user-edit-form">
    <div class="form-header">
        Edit User
    </div>
    <div class="form-body">
        <div class="form-element">
            <label for="name">Name</label>
            <InputText id="name" @bind-Value=User!.Name />
        </div>
        <div class="form-element">
            <label for="email">Email</label>
            <InputText id="email" @bind-Value=User!.Email />
        </div>
        <div class="form-footer">
            <button type="submit">UPDATE</button>
            <button class="danger" type="reset">CANCEL</button>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public User? User { get; set; }

    [Parameter]
    public EventCallback<User> OnFormSubmit { get; set; }

    [Parameter]
    public EventCallback OnFormCancel { get; set; }

    protected override void OnInitialized() => User ??= new();

    private void EditUser()
    {
        OnFormSubmit.InvokeAsync(User);
        User = new();
    }

    private void CancelEdit()
    {
        OnFormCancel.InvokeAsync();
        User = new();
    }
}
